$controller-width: 120px;
$controller-height: 380px;
$controller-left-color: #00c3e3;
$controller-right-color: #ff4554;
$controller-button-color: #414548;
$controller-button-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
$controller-button-label-color: #bbb;
$controller-button-label-dark: darken($controller-button-color, 16%);

$main-width: 640px;
$main-height: $controller-height;
$main-color: darken(#414548, 6%);
$main-screen-color: #101020;

body, html {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}

#page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  min-height: $controller-height + 20px;
  min-width: $controller-width * 2 + $main-width + 80px;
  background: radial-gradient(
    circle at center,
    #f9c5d1 0 10%,
    #c2c1f6 90% 100%
  );
}

#container {
  width: $controller-width * 2 + $main-width + 80px;
  white-space: nowrap;
  filter: drop-shadow(0 10px 16px rgba(0, 0, 0, 0.2));
}

.controllercontainer {
    display: inline-block;
    position: relative;
    width: $controller-width;
    height: $controller-height;
    margin: 10px;

  .controller {
    $c-radius: $controller-width - 40px;

    position: absolute;
    top: 0;
    width: $controller-width;
    height: $controller-height;

    &.left {
      left: 0;
      background: $controller-left-color;
      border-radius: $c-radius 0 0 $c-radius;
      box-shadow: 10px -10px 10px -3px rgba(0, 0, 0, 0.1) inset,
        4px 10px 10px -3px rgba(255, 255, 255, 0.3) inset;
    }

    &.right {
      right: 0;
      background: $controller-right-color;
      border-radius: 0 $c-radius $c-radius 0;
      box-shadow: -10px -10px 10px -3px rgba(0, 0, 0, 0.1) inset,
        -4px 10px 10px -3px rgba(255, 255, 255, 0.3) inset;
    }

    .shoulder {
      $s-dimension: $c-radius + 20px;
      $s-width: 4px;

      position: absolute;
      top: -$s-width;
      width: $s-dimension;
      height: $s-dimension;
      border-radius: $c-radius $s-width 0 0;
      background: $controller-button-color;
      z-index: -1;
      box-shadow: -4px -4px 4px -1px rgba(0, 0, 0, 0.1) inset,
        0 2px 4px -1px rgba(255, 255, 255, 0.2) inset;
      clip-path: polygon(100% 100%, 0 40%, 0 0, 100% 0);

      &.left {
        left: -$s-width;
      }

      &.right {
        right: -$s-width;
        transform: scaleX(-1);
      }
    }

    .connector {
      $con-height: $controller-height - 60px;
      $con-base-width: 6px;
      $con-base-margin: 10px;
      $con-button-height: 40px;
      $con-button-margin: 2px;
      $con-lip-gap: $con-button-height + (2 * $con-button-margin);
      $con-lip-gap-taper: 14px;
      $con-lip-width: 4px;
      $con-lip-upper-height: 40px;
      $con-lip-lower-height: 40px;

      position: absolute;
      top: 20px;

      &.left {
        right: 0;
      }

      &.right {
        left: 0;
        transform: scaleX(-1);
      }

      .base {
        position: absolute;
        top: 0;
        width: $con-base-width;
        height: $con-height - $con-base-margin;
        background: $controller-button-label-dark;
        left: 0;
        box-shadow: 0 10px 4px -4px rgba(255, 255, 255, 0.2) inset;
      }

      .lip {
        position: absolute;
        width: $con-lip-width;
        background: $controller-button-color;

        &.full {
          top: 0;
          left: $con-base-width;
          height: $con-height;
          border-bottom-left-radius: $con-lip-width;
        }

        &.upper {
          top: 0;
          left: $con-base-width + $con-lip-width;
          height: $con-lip-upper-height - $con-lip-gap-taper;
        }

        &.middle {
          top: $con-lip-upper-height + $con-lip-gap + $con-lip-gap-taper;
          left: $con-base-width + $con-lip-width;
          height: $con-height - (2 * $con-lip-gap) - $con-lip-upper-height -
            $con-lip-lower-height - (2 * $con-lip-gap-taper);
        }

        &.lower {
          bottom: -$con-height;
          left: $con-base-width + $con-lip-width;
          height: $con-lip-lower-height - $con-lip-gap-taper;
        }

        &.full,
        &.upper {
          box-shadow: 0 10px 4px -4px rgba(255, 255, 255, 0.2) inset;
        }

        &.upper::after,
        &.middle::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: $con-lip-width;
          height: $con-lip-gap-taper;
          background: linear-gradient(
            to bottom right,
            $controller-button-color 0 50%,
            transparent 55% 100%
          );
        }

        &.middle::before,
        &.lower::before {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 0;
          width: $con-lip-width;
          height: $con-lip-gap-taper;
          background: linear-gradient(
            to top right,
            $controller-button-color 0 50%,
            transparent 55% 100%
          );
        }
      }

      .button {
        position: absolute;
        left: $con-base-width + $con-lip-width;
        width: $con-lip-width;
        height: $con-button-height;
        border-radius: 0 $con-lip-width $con-lip-width 0;
        box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.2) inset,
          -2px 2px 2px rgba(255, 255, 255, 0.3) inset;

        &.left {
          background: $controller-left-color;
        }

        &.right {
          background: $controller-right-color;
        }

        &.top {
          top: $con-lip-upper-height + $con-button-margin;
        }

        &.bottom {
          bottom: -$con-height + $con-lip-lower-height + $con-button-margin;
        }
      }
    }

    .joystick {
      $j-dimension: 60px;
      $j-halfdimension: $j-dimension * 0.5;
      $j-rim-width: 8px;
      $j-rim-slope: 2px;
      $j-rim-gap: 1px;
      $j-innerdimension: $j-dimension - (2 * $j-rim-width);
      $j-innerlighting: 0 ($j-dimension * -0.2) ($j-dimension * 0.3) rgba(0, 0, 0, 0.6) inset,
        0 ($j-dimension * 0.2) ($j-dimension * 0.3) rgba(255, 255, 255, 0.2) inset;

      position: absolute;
      width: $j-dimension;
      height: $j-dimension;
      background: $controller-button-color;
      border-radius: 50%;
      box-shadow: 
        0 6px 9px rgba(0, 0, 0, 0.6),
        $j-innerlighting;

      &.left {
        top: 106px - $j-halfdimension;
        left: ($controller-width - $j-dimension) * 0.5;
      }

      &.right {
        bottom: 172px - $j-halfdimension;
        right: ($controller-width - $j-dimension) * 0.5;
      }

      .rim {
        position: absolute;
        top: 0;
        left: 0;
        width: $j-dimension;
        height: $j-dimension;
        border-radius: 50%;
        background: $controller-button-color;
        box-shadow:
          0 ($j-innerdimension * -0.2) ($j-innerdimension * 0.3) rgba(0, 0, 0, 0.2) inset,
          0 ($j-innerdimension * 0.2) ($j-innerdimension * 0.3) rgba(255, 255, 255, 0.4) inset,
          0 0 ($j-rim-width * 0.3) 2px rgba(0, 0, 0, 1) inset;
      }

      .slope {
        position: absolute;
        top: $j-rim-width - $j-rim-slope;
        left: $j-rim-width - $j-rim-slope;
        width: $j-innerdimension + (2 * $j-rim-slope);
        height: $j-innerdimension + (2 * $j-rim-slope);
        border-radius: 50%;
        background: linear-gradient(
          to bottom,
          darken($controller-button-color, 10%) 0,
          lighten($controller-button-color, 10%) 100%
        );
      }

      .gaps, .inner {
        position: absolute;
        top: 0;
        left: 0;
        width: $j-dimension;
        height: $j-dimension;
        background: $controller-button-color;
        border-radius: 50%;
        box-shadow: $j-innerlighting;
      }

      .gaps {
        clip-path: polygon(
          $j-halfdimension + $j-rim-gap   0,
          $j-halfdimension + $j-rim-gap   $j-halfdimension - $j-rim-gap,
          100%                            $j-halfdimension - $j-rim-gap,
          100%                            $j-halfdimension + $j-rim-gap,
          $j-halfdimension + $j-rim-gap   $j-halfdimension + $j-rim-gap,
          $j-halfdimension + $j-rim-gap   100%,
          $j-halfdimension - $j-rim-gap   100%,
          $j-halfdimension - $j-rim-gap   $j-halfdimension + $j-rim-gap,
          0                               $j-halfdimension + $j-rim-gap,
          0                               $j-halfdimension - $j-rim-gap,
          $j-halfdimension - $j-rim-gap   $j-halfdimension - $j-rim-gap,
          $j-halfdimension - $j-rim-gap   0,
        );
      }

      .inner {
        clip-path: circle($j-innerdimension * 0.5 at $j-halfdimension $j-halfdimension);
      }
    }

    .systembutton {
      $sb-dimension: 24px;
      $sb-width: 8px;
      $sb-offset-top: 36px;
      $sb-offset-side: 14px;

      position: absolute;
      top: $sb-offset-top;
      width: $sb-dimension;
      height: $sb-dimension;

      &.left {
        right: $sb-offset-side;
      }

      &.right {
        left: $sb-offset-side;
      }

      &.inner {
        position: absolute;
        background: $controller-button-color;
        border-radius: 2px;
        &.horizontal {
          top: calc(50% - #{$sb-width * 0.5});
          left: 0;
          width: $sb-dimension;
          height: $sb-width;

          &:not(.mask) {
            box-shadow: $controller-button-shadow;
          }
        }

        &.vertical {
          top: 0;
          left: calc(50% - #{$sb-width * 0.5});
          height: $sb-dimension;
          width: $sb-width;
          box-shadow: $controller-button-shadow;
        }
      }
    }

    .radial {
      $r-containerdimension: 82px;
      $r-buttondimension: 26px;

      position: absolute;
      width: $r-containerdimension;
      height: $r-containerdimension;

      &.left {
        bottom: 130px;
        right: ($controller-width - $r-containerdimension) * 0.5;
      }

      &.right {
        top: 64px;
        left: ($controller-width - $r-containerdimension) * 0.5;
      }

      .radialbutton {
        position: absolute;
        display: flex;
        width: $r-buttondimension;
        height: $r-buttondimension;
        border-radius: 50%;
        background: $controller-button-color;
        box-shadow: $controller-button-shadow, 0 -2px 4px rgba(0, 0, 0, 0.2) inset,
          0 2px 4px rgba(255, 255, 255, 0.2) inset;
        align-items: center;
        justify-content: center;

        &.top {
          top: 0;
          left: ($r-containerdimension - $r-buttondimension) * 0.5;
        }

        &.left {
          top: ($r-containerdimension - $r-buttondimension) * 0.5;
          left: 0;
        }

        &.bottom {
          bottom: 0;
          left: ($r-containerdimension - $r-buttondimension) * 0.5;
        }

        &.right {
          top: ($r-containerdimension - $r-buttondimension) * 0.5;
          right: 0;
        }

        .label {
          &.text {
            font-family: sans-serif;
            font-weight: bold;
            font-size: $r-buttondimension * 0.6;
            color: $controller-button-label-color;
          }

          &.arrow {
            width: 0;
            height: 0;
            border-left: ($r-buttondimension * 0.26) solid transparent;
            border-right: ($r-buttondimension * 0.26) solid transparent;
            border-bottom: ($r-buttondimension * 0.3) solid
              $controller-button-label-dark;

            &.top {
              transform: rotate(0deg);
              margin-top: -2px;
            }

            &.right {
              transform: rotate(90deg);
              margin-right: -2px;
            }

            &.bottom {
              transform: rotate(180deg);
              margin-bottom: -2px;
            }

            &.left {
              transform: rotate(270deg);
              margin-left: -2px;
            }
          }
        }
      }
    }

    .record {
      $rec-dimension: 22px;

      position: absolute;
      bottom: 80px;
      right: 30px;
      width: $rec-dimension;
      height: $rec-dimension;
      background: $controller-button-color;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.6), 0 -2px 2px rgba(0, 0, 0, 0.2) inset,
        0 2px 2px rgba(255, 255, 255, 0.1) inset;

      .inner {
        $margin: 4px;

        position: absolute;
        left: $margin;
        top: $margin;
        width: $rec-dimension - (2 * $margin);
        height: $rec-dimension - (2 * $margin);
        border-radius: 50%;
        background: $controller-button-label-dark;
      }
    }

    .home {
      $home-dimension: 28px;

      position: absolute;
      bottom: 76px;
      left: 30px;
      width: $home-dimension;
      height: $home-dimension;
      border-radius: 50%;
      background: #aaa;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);

      .inner {
        $margin: 3px;
        $inner-dimension: $home-dimension - (2 * $margin);

        position: absolute;
        top: $margin;
        left: $margin;
        width: $inner-dimension;
        height: $inner-dimension;
        border-radius: 50%;
        background: $controller-button-color;

        .icon {
          $house-width: $inner-dimension * 0.5;
          $house-height: $house-width * 0.7;

          position: absolute;
          top: $inner-dimension * 0.44;
          left: ($inner-dimension - $house-width) * 0.5;
          width: $house-width;
          height: $house-height;
          background: $controller-button-label-dark;

          &::before {
            content: "";
            position: absolute;
            bottom: $house-height;
            left: $house-width * 0.5;
            width: 0;
            height: 0;
            border-left: ($inner-dimension * 0.38) solid transparent;
            border-right: ($inner-dimension * 0.38) solid transparent;
            border-bottom: ($inner-dimension * 0.36) solid
              $controller-button-label-dark;
            transform: translate(-50%, 0);
          }

          &::after {
            $innermargin: 4px;
            content: "";
            position: absolute;
            top: 0;
            left: $innermargin;
            width: $house-width - (2 * $innermargin);
            height: $house-height - $innermargin;
            background: $controller-button-color;
          }
        }
      }
    }
  }
}

.maincontainer {
  $m-indent-width: 8px;
  $m-indent-height: 14px;

  display: inline-block;
  position: relative;
  width: $main-width;
  height: $main-height;
  margin: 10px;
  z-index: 1;

  .indent {
    position: absolute;
    top: $m-indent-height - $m-indent-width;
    width: $m-indent-width;
    height: $m-indent-width;
    background: radial-gradient(circle at top left, transparent 0 65%, lighten($main-color, 8%) 70% 100%);

    &.left {
      left: 0;
    }

    &.right {
      transform: scaleX(-1);
      right: 0;
    }
  }

  .main {
    position: absolute;
    left: 0;
    top: 0;
    width: $main-width;
    height: $main-height;
    background: $main-color;
    box-shadow: 0 -10px 10px -3px rgba(0, 0, 0, 0.2) inset,
        0 10px 10px -3px rgba(255, 255, 255, 0.2) inset;
    clip-path: polygon(
      $m-indent-width               0,
      $main-width - $m-indent-width 0,
      $main-width - $m-indent-width $m-indent-height,
      100%                          $m-indent-height,
      100%                          100%,
      0                             100%,
      0                             $m-indent-height,
      $m-indent-width           $m-indent-height
    );

    .bevel {
      $bevel-offset-left: 18px;
      $bevel-offset-top: 10px;
      $bevel-width: $main-width - (2 * $bevel-offset-left);
      $bevel-height: $main-height - (2 * $bevel-offset-top);

      position: absolute;
      box-sizing: border-box;
      left: $bevel-offset-left;
      top: $bevel-offset-top;
      width: $bevel-width;
      height: $bevel-height;
      border-radius: 12px;
      background-color: black;
      border-top: 1px solid darken($main-color, 10%);
      border-left: 1px solid lighten($main-color, 4%);
      border-right: 1px solid lighten($main-color, 4%);
      border-bottom: 1px solid lighten($main-color, 8%);

      .screen {
        $screen-offset-left: 46px;
        $screen-offset-top: 32px;
        $screen-width: $bevel-width - (2 * $screen-offset-left);
        $screen-height: $bevel-height - (2 * $screen-offset-top);

        position: absolute;
        box-sizing: border-box;
        left: $screen-offset-left;
        top: $screen-offset-top;
        width: $screen-width;
        height: $screen-height;
        background-color: $main-screen-color;
        border-top: 1px solid $main-screen-color;
        border-left: 1px solid darken($main-color, 8%);
        border-right: 1px solid darken($main-color, 8%);
        border-bottom: 2px solid darken($main-color, 8%);
      }
    }
  }
}